

body{
    background-attachment: #eb087aa2;
    font-family: Arial, sans-serif;
    text-align: center ;
}

h1{
    color:blue;
}
/* Este es un comentario en CSS */
p {
    font-size: 18px;
    color:black,
}